*.pyc
.env
debug_scripts/*.csv
.venv
.venv/*
.idea
.idea/*
.rakesh
.Exptest.py
.Exptest2.py
infra/keyvault/config/dev/secrets.json
infra/keyvault/config/test/secrets.json
infra/keyvault/config/stage/secrets.json
infra/keyvault/config/prod/secrets.json
infra/keyvault/passphrase.txt